DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:5173
DATABASE_URL=sqlite:///db.sqlite3
SEED_INFAAN_DATA=true
GOOGLE_OAUTH_CLIENT_ID=your-google-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-client-secret
BACKEND_BASE_URL=https://infaan-web-design.onrender.com
AZAMPAY_CLIENT_ID=your-azampay-client-id
AZAMPAY_CLIENT_SECRET=your-azampay-client-secret
AZAMPAY_API_KEY=your-azampay-api-key
AZAMPAY_APP_NAME=your-azampay-app-name
AZAMPAY_ENVIRONMENT=sandbox
